<!--Small modal-->
<div class="content_modal" (click)="changelike()">
  <div (click)="smModal.show()">
    <app-thumb></app-thumb>
  </div>
</div>
<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{like}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{title}}
      </div>
    </div>
  </div>
</div>
