<div class="row about" style="background:#fff;" [@flyIn]="'active'">
  <div class="col-md-offset-1 col-md-10">
  <p class="about_p">花影与暖阳重叠的时节，不用等待，便会遇见美好。如窗外的那一树花开，如墙角的那一抹绿意，不经意间便愉悦了心情。

我喜欢安静且热闹的俗世的光阴，可以听一朵花悄悄开放的声音，也愿意看着她铺天盖地盛开；可以快乐地行走在熙熙攘攘的人群中，也可以在一茶一书中静坐，于盐米油盐，酸甜苦辣中努力地做好自己。这样的时光是踏实的、柔软的。

我想让我的灵魂里住着春天的新绿，夏天的清凉，秋天的明月，冬天的雪花。我不喜欢追赶季节，却欣然于每一次花开花落。在清晨聆听鸟儿在林间啼鸣，于夜晚感受清风拂面的柔情。不去问春归何处，也不去想秋花落谁家。与岁月温柔相待，每一天都在重复着平淡与简单，每一天都这么的好。

生活，总是难离喧嚣和纷扰，偶尔在安静中见素见美，于平淡中妥贴一份诗意，时光知味，才会愈久弥香。总有些文字，轻易便能贯穿心灵。读叶芝的诗，她劝我们从容相爱，如叶生树梢。她劝我们从容生活，如草生堤堰，浮躁的灵魂瞬间便会得到安然：原来人可以像植物一样简单生长。

红尘百味，最美是淡然。它最接近自然，明净质朴却不失丰盈，低调含蓄却有底蕴。有“守得云开见月明”的通透，也有“去意无留，看天边云卷云舒”的恬静。生活繁杂，人生纷扰。看淡了，草木也含香；看轻了，每天都是艳阳天。

养一怀恬淡，安心地感受生活的滋味，静中养生，淡中释怀。在光阴中浑然天成，在等待花开中修行。与世界温柔相待，与自己和平相处。不过份亲近，也不远离，恰到好处地保持着对生命的热爱，和对岁月的感恩。好的人生，该是有山有水，有自我。

恬静之美，是一种不经雕琢、不加刻意的恬淡境界，仿若春风拂面，又如空谷幽兰。如诗灵动，如云飘逸，供养着内心的山水。心怀静气，在属于自己的空间里，尽享闲庭信步的时光，那份难得的平静心，让生活越发得美好了。闲来静听鸟语花香，漫赏云卷云舒，心绪淡淡，在安静中灵魂得以舒展。

生命是一场跋涉，这一路上也许会有人同行，更多的时候是要一个人行走。学会享受孤独寂寞的人生才不会单薄，因为他们从不缺少对生活的热爱和一颗安静淡然心。

做一个内心丰盈的人，心中藏着日月山水，低调且淡定。知道自己该做什么，不该做什么，不受外界的纷扰。每走一步，都有自己的节奏和步调。遇到事情，冷静并且善于思考；遇到纷争，不愿做过多的解释，淡然一笑，以宽容的姿态面对所有，这种内心的安稳，足可以抵挡尘世的浮躁和喧嚣。

一个人的内心丰盈，源于一份懂得。天下熙熙皆为利来，天下攘攘皆为利往，背负太多身外物便会负累。推开人情世故，欣喜于一份日常，妥帖一份恬淡，笑对一朵花，静对一轮月，让美好在心中升腾。这份优雅，来源于一本书，半盏茶香，是一种气质，一种修养，一分自足，是一种积极平和的心态。宁静才能致远，恬淡方能生香。

人生最曼妙的风景，是内心的淡定与从容。活着，就是一场修行，这一路上行色匆匆，别忘了带着灵魂一路前行。在喧嚣中找回自我，在明媚中妥帖自己。生命的美好，在于经历风风雨雨，仍然能有一颗安然的心，如路边的小花，即便没有人欣赏自己，依然开成自己喜欢的样子。这何尝不是对生命的慈悲和感恩？

人生这场花事，从花开到花落，我们一路追赶，一路欣赏。浅了岁月，却丰盈了心境。李丹崖说，少年花事多，中年花事浅，老年花事淡淡然。人到中年，学会坦然接受生活赠与我们的一切，不再刻意去迎合别人，人情冷暖也少了客套，以平常心看待所有，由此释放更大的心灵空间，获得更多的自在。

常常把自己安放在寂静处，坐拥一米阳光的温暖，浅拾岁月里的美丽，婉约成风景，明媚而安恬。做一个内心丰盈的人，爱着身边的每一个人，珍惜每一份遇见，善待生命中的每一天，以简单清宁的心喂养灵魂。这世上最美的，莫过于拥有一颗安然的心。</p>
  </div>
  <div class="col-md-1"></div>
</div>
