<div class="conctact_me row" style="background:#fff;padding:5% 0" [@fadeIn]="'active'">
  <div class="contact_content col-md-7 col-md-offset-1">
      <h1 class="contact_h1">和我联系</h1>
      <p class="content_p">请填写一下内容</p>
    <form>
      <div class="form-group">
        <label for="yname" class="content_p">称呼</label>
        <input type="text" class="form-control" id="yname" placeholder="请输入你的称呼">
      </div>
      <div class="form-group" [ngClass]="{'has-error':alertText == '请输入正确的邮箱地址'}">
        <label for="yemail" class="content_p">邮箱</label>
        <input type="email" [(ngModel)]="eTxt" name="eTxt" class="form-control" id="yemail" placeholder="请输入你的邮箱">
        <p class="text-danger" *ngIf="alertText=='请输入正确的邮箱地址'">{{alertText}}</p>
         <p class="text-success" *ngIf="alertText=='输入正确'">{{alertText}}</p>
      </div>
      <div class="form-group">
        <label for="ycontent" class="content_p">内容</label>
        <textarea name="text" id="ycontent"  rows="3" class="form-control" placeholder="请留下你的宝贵留言"></textarea>
      </div>
      <button type="button" class="btn btn-warning" (click)="sub()">送出</button>
    </form>
  </div>
  <div class="col-md-3">
    <div class="address">
      <p class="address_p"><i class="fa fa-address-card-o"></i>&nbsp;:&nbsp;&nbsp;&nbsp;江苏省南京市浦口区</p>
      <p class="address_p"><i class="fa fa-phone"></i>&nbsp;:&nbsp;&nbsp;&nbsp;1234567890</p>
      <p class="address_p"><i class="fa fa-envelope-o"></i>&nbsp;:&nbsp;&nbsp;&nbsp;mr_xkk@163.com</p>
      <p class="address_p"><i class="fa fa-github"></i><a href="https://github.com/mr-xkk" target="_blank">&nbsp;:&nbsp;&nbsp;&nbsp;github地址,源码在此</a></p>
    </div>
    <div class="icon" style="padding-top:10%;">
      <img src="../../assets/images/tim.png" alt="qqTIM" (mouseover)="myTim=!myTim;" (mouseout)="myTim=!myTim;"class="showimg">
      <img src="../../assets/images/wechat.png" alt="WECHAT" (mouseover)="myWe=!myWe;" (mouseout)="myWe=!myWe;" class="showimg">
      <img *ngIf="myTim" src="../../assets/images/mytim.JPG">
      <img *ngIf="myWe" src="../../assets/images/bread.JPG">
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
