<div class="left_list row" style="background:#fff;padding:10%;">
  <div class="title_list" style="margin-bottom:10%;">
    <h3 class="blog_class">博客分类</h3>
    <p class="blog_list">
      <a routerLink="classification/angular"><i class="fa fa-caret-right"></i>&nbsp;angular</a>
    </p>   
    <p class="blog_list"> 
      <a routerLink="classification/vue"><i class="fa fa-caret-right"></i>&nbsp;vue</a>
    </p>
    <p class="blog_list">
      <a routerLink="classification/jq"><i class="fa fa-caret-right"></i>&nbsp;jquery</a>
    </p>
    <p class="blog_list">
      <a routerLink="classification/food"><i class="fa fa-caret-right"></i>&nbsp;美食分享</a>
    </p>
    <hr>
     <!--集成音乐区仅供调试-->
     <p class="show_list">我的歌单</p>
     <ul>
        <li>
          <p class="show_list to_look">
            {{showList?.playlist.creator.nickname}}
          </p>  
        </li>
        <li>
          <img [src]="showList?.playlist.creator.avatarUrl" alt="头像">
        </li>
        <li>
          <p (click)="showPlay=!showPlay" class="show_list to_look" style="color:#111;">点击查看我的歌单</p>
        </li>
     </ul>
     <p class="show_list">当前播放: <span class="to_look">{{doName}}</span></p>
  </div>
  <!--子歌单模块-->
  <app-musiclist (toOut)="receive($event)" *ngIf="showPlay"></app-musiclist>
  <!--自我介绍区域-->
  <div class="about_me" style="border-top:3px solid #acc4ac">
    <h1 class="me_h1">关于我</h1>
    <img src="assets/dde.jpg" alt="me">
     <p class="blog_list">
      <span>姓名</span>
      <span>Tom</span>
    </p>
    <p class="blog_list">
      <span>出生日期</span>
      <span>2012-08-01</span>
    </p>
    <p class="blog_list">
      <span>星座</span>
      <span>天蝎座</span>
    </p>
    <p class="blog_list">
      <span>职业</span>
      <span>coder</span>
    </p>
    <p class="blog_list">
      <span>爱好</span>
      <span>Marry Miller</span>
    </p>
  </div>
</div>

